{% load static %}
<!doctype html>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- font files  -->
    <script type="text/javascript" charset="utf-8" src="//g.alicdn.com/sd/ncpc/nc.js?t=2015052012"></script>
<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
<!-- /font files  -->
<!-- css files -->
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' media="all" />
<!-- /css files -->
</head>
<body>
<h1>Login</h1>
<div class="log">

	<div class="content1">
        <a  class="register" href="{% url 'userapp:regist' %}" > Register</a><br>
		<h2>Login</h2>
		<form action="{% url 'userapp:loginlogic' %}" method="post" id="form">
            {% csrf_token %}
			<input type="text" name="userid"  onblur="uname()" id="u_name">
			<input type="password" name="psw"  id="pwd">
            <div id="your-dom-id" class="nc-container " style="margin-left: 50px;margin-top: 20px" ></div> <!--No-Captcha渲染的位置，其中 class 中必须包含 nc-container-->
			<div class="button-row">
				<input type="button" class="sign-in" value="Sign In" onclick="check()">
				<input type="reset" class="reset" value="Reset">
				<div class="clear"></div>
			</div>
		</form>
	</div>

            <script src="{% static 'scripts/jquery/jquery-1.7.1.js' %}"></script>
            <script type="text/javascript">
        var nc_token = ["FFFF0N00000000007F25", (new Date()).getTime(), Math.random()].join(':');
        var NC_Opt =
        {
            renderTo: "#your-dom-id",
            appkey: "FFFF0N00000000007F25",
            scene: "nc_login",
            token: nc_token,
            customWidth: 300,
            trans:{"key1":"code0"},
            elementID: ["usernameID"],
            is_Opt: 0,
            language: "cn",
            isEnabled: true,
            timeout: 3000,
            times:5,
            apimap: {
                // 'analyze': '//a.com/nocaptcha/analyze.jsonp',
                // 'get_captcha': '//b.com/get_captcha/ver3',
                // 'get_captcha': '//pin3.aliyun.com/get_captcha/ver3'
                // 'get_img': '//c.com/get_img',
                // 'checkcode': '//d.com/captcha/checkcode.jsonp',
                // 'umid_Url': '//e.com/security/umscript/3.2.1/um.js',
                // 'uab_Url': '//aeu.alicdn.com/js/uac/909.js',
                // 'umid_serUrl': 'https://g.com/service/um.json'
            },
            callback: function (data) {
                window.console && console.log(nc_token)
                window.console && console.log(data.csessionid)
                window.console && console.log(data.sig)
                $.ajax({
                    type:'get',
                    url:'{% url 'userapp:dong' %}',
                    data:'t='+nc_token+'&sid='+data.csessionid+'&sig='+data.sig,
                    success:function (msg) {
                        console.log(msg)

                    }
                })
            }
        };
        console.log(NC_Opt);
        var nc = new noCaptcha(NC_Opt);
        nc.upLang('cn', {
            _startTEXT: "请按住滑块，拖动到最右边",
            _yesTEXT: "验证通过",
            _error300: "哎呀，出错了，点击<a href=\"javascript:__nc.reset()\">刷新</a>再来一次",
            _errorNetwork: "网络不给力，请<a href=\"javascript:__nc.reset()\">点击刷新</a>",
        })
        </script>
	<div class="clear"></div>
</div>
<div class="footer">
	<p>Copyright &copy;  <a href="http://www.baizhiedu.com/" target="_blank" title="百知教育">百知教育</a></p>
</div>
<script src="{% static 'scripts/jquery/jquery-1.7.1.js' %}"></script>
<script>
    function uname() {
        var uname=document.getElementById('u_name')
        $.ajax({
            type:'get',
            url:'{% url 'userapp:ajax4' %}',
            data:'uname='+$('#u_name').val(),
            success:function (msg) {
                        if (msg == '1'){
                            alert('用户名不存在')
                        }
            }

        })
    }
       function check() {
            var uname=document.getElementById('u_name')
           var pwd=document.getElementById('pwd')
           var form=document.getElementById('form')
        $.ajax({
            type:'get',
            url:'{% url 'userapp:ajax5' %}',
            data:'uname='+$('#u_name').val()+'&pwd='+$('#pwd').val(),
            success:function (msg) {
                        if (msg == '1'){
                            alert('用户名或密码不正确')
                        }else if (msg=='0') {
                            form.submit()
                        }
            }

        })
    }
</script>
</body>
</html>